<!DOCTYPE html>
<html lang="en">
  <!-- Header-->
  <%- include('layouts/header'); -%>
  <body id="page-top">
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <!-- Page Header-->
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <h1 class="masthead-heading mb-0">Login</h1>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
    <div class="form-container">
      <div class="form-wrapper">
        <h2><a href="profile">G-page!</a></h2>
        <h2><a href="g2-test">G2-page!</a></h2>
      </div>
    </div>

    <!-- Footer-->
    <%- include('layouts/footer'); -%> <%- include('layouts/footer'); -%> <%-
    include('layouts/footer'); -%> <%- include('layouts/footer'); -%>

    <!-- Scripts-->
    <%- include('layouts/scripts'); -%>
  </body>
</html>
